body {
	font-family: 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100%;
	width: 100%;
}

.row {
	width: 100%;
	clear: both;
}
.col-1 {
	width: 8.33%;
	float: left;
}
.col-2 {
	width: 16.66%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.33%;
	float: left;
}
.col-5 {
	width: 41.66%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.33%;
	float: left;
}
.col-8 {
	width: 66.66%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.33%;
	float: left;
}
.col-11 {
	width: 91.66%;
	float: left;
}

.banner-container {
	background-color: #f3f3f3;
	color: #808080;
	display: inline-block;
	height: 80px;
	padding: 0.6rem 0;
}

.logo.col-1 {
	height: 60px;
	width: 60px;
	padding: 0.6rem 0.6rem 0.6rem 1.25rem;
}

.get-started.col-3 {
	padding: 0.5rem 0.6rem;
}

.set-a-goal.col-5 {
	margin: 0px auto;
	padding: 0.6rem 0.9rem;
	background-color: #fff;
	font-size: .85em;
}

.banner-group-right.col-2 {

}

.left-side {
	height: 950px;
	background-color: #34aebe;
}

.sub-header {
	height: 127px;
	background-color: #003540
}

.budget-content {
	
}

.budget-inspector {
	background-color: #e5f5f9
}