* {
  box-sizing: border-box;
}

body {
	font-family: 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  width: 100%;
  padding: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1-sm {
  padding: 0.5rem 2%;
  width: 8.33333333%;
  float: left;
}

.col-2-sm {
  padding: 0.5rem 2%;
  width: 16.66666667%;
  float: left;
}

.col-3-sm {
  padding: 0.5rem 2%;
  width: 25%;
  float: left;
}

.col-4-sm {
  padding: 0.5rem 2%;
  width: 33.33333333%;
  float: left;
}

.col-5-sm {
  padding: 0.5rem 2%;
  width: 41.66666667%;
  float: left;
}

.col-6-sm {
  padding: 0.5rem 2%;
  width: 50%;
  float: left;
}

.col-7-sm {
  padding: 0.5rem 2%;
  width: 58.33333333%;
  float: left;
}

.col-8-sm {
  padding: 0.5rem 2%;
  width: 66.66666667%;
  float: left;
}

.col-9-sm {
  padding: 0.5rem 2%;
  width: 75%;
  float: left;
}

.col-10-sm {
  padding: 0.5rem 2%;
  width: 83.33333333%;
  float: left;
}

.col-11-sm {
  padding: 0.5rem 2%;
  width: 91.66666667%;
  float: left;
}

.col-12-sm {
  padding: 0.5rem 2%;
  width: 100%;
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.banner-container.row {
	background-color: #f3f3f3;
	color: #808080;
	display: inline-block;
	height: 5em;
	padding: 0.6rem 0;
}

.logo.col-1 {
	height: 4em
	width: 4em;
	padding: 0.6rem 0.6rem 0.6rem 1.25rem;
  display: inline-block;
  margin: 0px;
}

.get-started.col-2 {
	padding: 0.5rem 0.6rem;
  display: inline-block;
}

h1 {
	font-weight: bold;
	color: #333;
	font-size: 1.4em;
	margin: 0;
}

.set-a-goal.col-6 {
	margin: 0px auto;
	padding-top: 0.6rem;
	padding-right: 8rem;
	padding-bottom: 0.6rem;
	padding-left: 0.9rem;
	background-color: #fff;
	font-size: .85em;
}

h2 {
	font-size: 1.15em;
	color: #333;
	margin: 0;
}

.banner-group-right.col-2 {

}

.left-side.col-2 {
	background-color: #34aebe;
  padding: 0;
}

.my-budget {
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	padding: 0.5em;
}

.nav-main {
	padding: 0;
}

.nav-main > li {
	list-style: none;
	padding: 0.4em 0.25em 0.4em 0em;
	font-size: 1.125em;
	color: #fff;
}

.nav-accounts {
	margin: 0.65rem 0.65rem 0rem 0.65rem;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: .313em;
}

#add-account {
	margin: 0.8rem 1rem 3.5rem 1rem;
	float: right;
}

#user-id {
	background-color: #1f8ca7;
	position: fixed;
	bottom: 0;
  width: 100%;
}

.sub-header {
	height: 8em;
	background-color: #003540
}

table, th, td {
  font-size: 1em;
  border-top: .063em solid grey;
  border-bottom: .063em solid grey;
}

th {
  text-align: left;
  background-color: #e5f5f9;
}

.budget-inspector {
	background-color: #e5f5f9;
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 8.33333333%;
  }

  .col-2 {
    width: 16.66666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-5 {
    width: 41.66666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33333333%;
  }

  .col-8 {
    width: 66.66666667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-11 {
    width: 91.66666667%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
}
