* {
  box-sizing: border-box;
}

body {
	font-family: 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  width: 100%;
  padding: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1-sm {
  padding: 0.5rem 2%;
  width: 8.33333333%;
  float: left;
}

.col-2-sm {
  padding: 0.5rem 2%;
  width: 16.66666667%;
  float: left;
}

.col-3-sm {
  padding: 0.5rem 2%;
  width: 25%;
  float: left;
}

.col-4-sm {
  padding: 0.5rem 2%;
  width: 33.33333333%;
  float: left;
}

.col-5-sm {
  padding: 0.5rem 2%;
  width: 41.66666667%;
  float: left;
}

.col-6-sm {
  padding: 0.5rem 2%;
  width: 50%;
  float: left;
}

.col-7-sm {
  padding: 0.5rem 2%;
  width: 58.33333333%;
  float: left;
}

.col-8-sm {
  padding: 0.5rem 2%;
  width: 66.66666667%;
  float: left;
}

.col-9-sm {
  padding: 0.5rem 2%;
  width: 75%;
  float: left;
}

.col-10-sm {
  padding: 0.5rem 2%;
  width: 83.33333333%;
  float: left;
}

.col-11-sm {
  padding: 0.5rem 2%;
  width: 91.66666667%;
  float: left;
}

.col-12-sm {
  padding: 0.5rem 2%;
  width: 100%;
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.banner-container.row {
	background-color: #f3f3f3;
	color: #808080;
	display: inline-block;
	height: 5em;
	padding: 0.6rem 0;
}

.logo {
	height: 4em
	width: 4em;
	padding: 0.6rem 0.6rem 0.6rem 1.25rem;
  display: inline-block;
  margin: 0px;
  width: 5%;
}

.get-started {
	padding: 0.5rem 0.6rem;
  display: inline-block;
  font-size: .85rem;
  width: 10%;
}

h1 {
	font-weight: bold;
	color: #333;
	font-size: 1.4rem;
	margin: 0;
}

.set-a-goal {
	margin: 0em auto;
	padding-top: 0.6rem;
	padding-right: 8rem;
	padding-bottom: 0.6rem;
	padding-left: 0.9rem;
	background-color: #fff;
	font-size: .85em;
  display: inline-block;
  width: 50%;
}

h2 {
	font-size: 1.15em;
	color: #333;
	margin: 0;
}

.banner-right {
  display: inline-block;

}

.left-side.col-2 {
	background-color: #34aebe;
  padding: 0;
}

.my-budget {
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	padding: 0.5em;
}

.nav-main {
	padding: 0;
}

.nav-main > li {
	list-style: none;
	padding: 0.4em 0.25em 0.4em 0em;
	font-size: 1.125em;
	color: #fff;
}

.nav-accounts {
	margin: 0.65rem 0.65rem 0rem 0.65rem;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: .313em;
}

#add-account {
	margin: 0.8rem 1rem 3.5rem 1rem;
	float: right;
}

#user-id {
	background-color: #1f8ca7;
  width: 100%;
}

.sub-header {
	height: 8em;
	background-color: #003540;
  padding: 0;
}

.date {
  display: inline-block;
  text-align: center;
  padding: .6em;
  width: 30%;
}

.enter-a-note {
  color: #598797;
  font-size: .875em;
  font-style: italic;
}

.budget-totals {
  display: inline-block;
  text-align: center;
  padding: .6em;
  width:  50%;
}

.budget-header-totals {
  display: inline-block;
  float: left;
  background-color: #16a336;
  padding: .55em .75em .5em .75em;
}

.to-be-budgeted-total {
  color: #fff;
  font-size: 1.8em;
  font-weight: 300;
}

.to-be-budgeted {
  font-style: italic;
  font-size: .9em;
}
.user-data.currency.zero {
  color: #fff;
  font-size: .8em;
  font-weight: 700;
}

.budget-header-totals-details {
  display: inline-block;
}

.budget-header-totals-details-values {
  display: inline-block;
  float: left;
  padding-right: .5em;
}

.budget-header-totals-details-names {
  display: inline-block;
  color: #fff;
  font-size: .8em;
  font-weight: 300;
  text-align: left;
}


.age-of-money {
  display: inline-block;
  padding: .6em;
  width: 10%;
}

.question-marks {
  color: #588697;
  font-size: 2em;
  text-align: center;
}

.age-of-money-text {
  color: #fff;
  font-size: .875em;
  font-style: italic;
  text-align: center;
}

.category-group {
  background-color: white;
  font-size: .8em;
}

.budget-content.col-7 {
  padding: 0;
}

table, th, td {
  font-size: 1em;
  border-top: .063em solid grey;
  border-bottom: .063em solid grey;
}

th {
  text-align: left;
  background-color: #e5f5f9;
}

.budget-inspector {
	background-color: #e5f5f9;
  border-top: .063em solid grey;
  padding: 1em;
}

.total-budgeted {
  text-align: center;
}

.total-activity {
  text-align: center;
}

.total-available {
  text-align: center;
}

.total-inflows {
  text-align: center;
}

.quick-budget {
  text-align: center;
}

h3 {
  font-size: .700em;
  font-weight: 900;
  color: #003440;
  margin-bottom: .5em;
}

.total-budgeted-span {
  font-size: 1.2em;
  font-weight: 900;
  color: #003440;
}

.total-activity-span {
  font-size: 1.2em;
  font-weight: 900;
  color: #003440;
}

.total-available-span {
  font-size: 1.2em;
  font-weight: 900;
  color: #003440;
}

.total-inflows-span {
  font-size: 1.2em;
  font-weight: 900;
  color: #003440;
}

.underfunded {
  background-color: rgba(0,155,194,0.1);
  margin-bottom: .125em;
  color: #009cc2;
}

.underfunded.span {
  font-weight: 700;
}

.budgeted-last-month {
  background-color: rgba(0,155,194,0.1);
  margin-bottom: .125em;
  color: #009cc2;
}

.budgeted-last-month.span {
  font-weight: 700;
}

.spent-last-month {
  background-color: rgba(0,155,194,0.1);
  margin-bottom: .125em;
  color: #009cc2;
}

.spent-last-month.span {
  font-weight: 700;
}

.average-budgeted {
  background-color: rgba(0,155,194,0.1);
  margin-bottom: .125em;
  color: #009cc2;
}

.average-budgeted.span {
  font-weight: 700;
}

.average-spent {
  background-color: rgba(0,155,194,0.1);
  color: #009cc2;
}

.average-spent.span {
  font-weight: 700;
}



@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 8.33333333%;
  }

  .col-2 {
    width: 16.66666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-5 {
    width: 41.66666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33333333%;
  }

  .col-8 {
    width: 66.66666667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-11 {
    width: 91.66666667%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
}
