body {
	font-family: 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100%;
	width: 100%;
}

.row {
	width: 100%;
	clear: both;
}
.col-1 {
	width: 8.33%;
	float: left;
}
.col-2 {
	width: 14%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.33%;
	float: left;
}
.col-5 {
	width: 41.66%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.33%;
	float: left;
}
.col-8 {
	width: 66.66%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.33%;
	float: left;
}
.col-11 {
	width: 91.66%;
	float: left;
}

.banner-container.row {
	background-color: #f3f3f3;
	color: #808080;
	display: inline-block;
	height: 80px;
	padding: 0.6rem 0;
}

.logo.col-1 {
	height: 60px;
	width: 60px;
	padding: 0.6rem 0.6rem 0.6rem 1.25rem;
}

.get-started.col-2 {
	padding: 0.5rem 0.6rem;
}
h1 {
	font-weight: bold;
	color: #333;
	font-size: 1.4em;
	margin: 0;
}

.set-a-goal.col-6 {
	margin: 0px auto;
	padding-top: 0.6rem;
	padding-right: 8rem;
	padding-bottom: 0.6rem;
	padding-left: 0.9rem;
	background-color: #fff;
	font-size: .85em;

}
h2 {
	font-size: 1.15em;
	color: #333;
	margin: 0;
}

.banner-group-right.col-2 {

}

.left-side.col-2 {
	height: 950px;
	background-color: #34aebe;
}
.my-budget {
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	padding: 0.5em;
}

.nav-main {
	padding: 0;
}
.nav-main > li {
	list-style: none;
	padding: 0.4em 0.25em 0.4em 0em;
	font-size: 1.125em;
	color: #fff;
}
span#mail {
	width: 36px;
	height: 36px;
}
.nav-accounts {
	margin: 0.65rem 0.65rem 0rem 0.65rem;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 5px;
}
#add-account {
	margin: 0.8rem 1rem 3.5rem 1rem;
	float: right;
}

.sub-header {
	height: 127px;
	background-color: #003540
}

.budget-content {
	
}

.budget-inspector {
	background-color: #e5f5f9;
	height: 664px;
}